
<div class="row" *ngIf="isAuthenticated">
  <div class="col"><p>Welcome {{username}}</p></div>
</div>

<div *ngIf="isAuthenticated" style="width:100%;">
<ag-grid-angular
   style="width:100%; height: 100%;"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="rowData"
   [rowSelection]="'multiple'"
   [animateRows]="true"
   (gridReady)="onGridReady($event)"
   (cellClicked)="onCellClicked($event)"
   (cellValueChanged)="onCellValueChanged($event)"
   [pagination]="true"
   domLayout='autoHeight'
 ></ag-grid-angular>
</div>



