p.school_name {
    font-family: Apple Chancery, cursive;
    font-size: 12pt;
  }

p.title {
    font-family: Apple Chancery, cursive;
    font-size: 12pt;
}

p.question {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

p.answer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.item1 { 
    grid-area: logo; 
}

.item2 { 
    grid-area: desc; 
    position: relative;
    top: 10%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'logo desc desc';
  gap: 2vw;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vw;
}

