<div class="grid-container">
    <div class="item1">
        <a href="https://irs.hdsb.ca/">
            <img src = "/assets/school.png" width="50%" height="auto">
        </a>
        <p class="school_name"> Iroquois Ridge</p> 
        <p class="school_name"> Oakville, ON </p> 
    </div>

    <div class="item2">
        <p class="title"> Welcome to My School Rewards</p>
        <p class="question"> How to enroll?</p>
        <p class="answer"> Enroll and sign in with your school email address.</p>
        <p class="question"> How to earn My School Rewards points?</p>
        <p class="answer"> Enroll into activities listed in the application to earn pending points. After you attended the activities you enrolled, your pending points will be vetted and added to your points balance.</p>
    </div>  
</div>