
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div *ngIf="!isMobile">
    <a href="/about" class="navbar-brand">About</a>
    </div>

    <div class="navbar-nav mr-auto">
      <div *ngIf = "!isAuthenticated">
        <li class="nav-item">
            <a routerLink="login" class="nav-link">Student</a>
        </li>
      </div>
      <div *ngIf = "isAuthenticated">
        <li class="nav-item">
            <a routerLink="logout" class="nav-link">Sign Out</a>
        </li>
      </div>
      <div *ngIf = "isAuthenticated">
        <li class="nav-item" >
        <a routerLink="activities" class="nav-link">Activities</a>
      </li>
      </div>
      <div *ngIf = "isAuthenticated">
        <li class="nav-item" >
        <a routerLink="rewards" class="nav-link">Rewards</a>
      </li>
      </div>
      <li class="nav-item" >
        <a routerLink="leaderboard" class="nav-link">Leaderboard</a>
      </li>
      <div *ngIf = "!isAuthenticated">
        <li class="nav-item" >
        <a routerLink="admin" class="nav-link">Admin</a>
      </li>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet>

    </router-outlet>
  </div>
